@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Watch2Chill</b></h1>
    <p>Os melhores filmes e séries estão na nossa aplicação! Não perca mais tempo, registe-se e "Watch2Chill"!</a>.</p>
</div>
