@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4><img src="~/Imagens/watch_chill_1.png" width="1000" /></h4>
    
    <p><b>Os melhores filmes e séries estão na nossa aplicação! Não perca mais tempo, registe-se e "Watch2Chill"!</b></p>

</div>
