@model IEnumerable<Watch2Chill.Models.Videos>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes e Séries</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admninistrador")) {
    //este link so vai aparecer para o utilizador autenticado
<p>
    <a asp-action="Create">Adicionar Novo Vídeo</a>
</p>
}
<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <div class="movie">
                <div class="movie-image">
                    <a asp-action="Details" asp-route-id="@item.IdVideo">

                        <img src="~/Imagens/Videos/@Html.DisplayFor(modelItem => item.Foto)"
                             alt="Fotografia do video @Html.DisplayFor(modelItem => item.IdVideo)"
                             title="@Html.DisplayFor(modelItem => item.IdVideo)" />
                    </a>
                </div>
            </div>
        }
    </tbody>
</table>
